@{
    ViewBag.Title = "Index";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/registration.js"></script>
}


<style>
    body {
        margin-top: 5%;
        margin-right: 30%;
        margin-bottom: 10%;
        margin-left: 37.5%;
    }
</style>


<form role="form">
    <div class="form-group">   
        <label for="login">Login</label>
        <input type="login" class="form-control" id="login" placeholder="Enter login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
        <p class="help-block">Password should contain at least 8 characters</p>
    </div>
    <div class="form-group">
        <label for="rpassword">Enter password</label>
        <input type="password" class="form-control" id="rpassword" placeholder="Repeat password">
        <p class="help-block"> Passwords should match!</p>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <button type="button" class="btn btn-primary" id="okbutton">ОК</button>
    <div id="list"></div>
</form>

