<div>
    <div class="col-sm-4" align="left"><img src="https://popsicle2014.files.wordpress.com/2014/07/snoop-dogg-gggggga721eb54a9-290x595x58.gif" /> </div>
    <div class="col-sm-4"><h1>Hi guys, It`s pmi 31 group</h1></div>
    <div class="col-sm-4" align="right" ><img src="https://popsicle2014.files.wordpress.com/2014/07/snoop-dogg-gggggga721eb54a9-290x595x58.gif" /> </div>
    <iframe hidden width="560" height="315" src="https://www.youtube.com/watch?v=bzIfaq6xKV8?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
